ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

h1, h2, h3, p {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

picture {
  display: block;
}

:root {
  --text-color: #757575;
  --main-text-color:#212121;
  --accent-color: #2196F3;
  --background: #2F303A;
  --team-color: #F5F4FA;
  --main-color: #fff;
  --link-color: #AFB1B8;
  --primari-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 80px;
  }
}

.container {
  max-width: 480px;
  min-width: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
  border-bottom: 1px solid #ECECEC;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.burger-menu {
  display: block;
  margin-left: auto;
  border: none;
  background-color: #fff;
  z-index: 101;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-menu .burger-close {
  opacity: 0;
}

.burger-menu.is-open .burger-open {
  opacity: 0;
}

.burger-menu.is-open .burger-close {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.menu-container.is-open {
  opacity: 1;
  visibility: inherit;
  pointer-events: all;
}

.menu-container.is-open body {
  overflow: hidden;
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-text-color);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
  }
}

.header-socials__link {
  margin: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 460px) {
  .header-socials__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .header-socials__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .header-socials__link {
    font-size: 12px;
  }
}

.header-socials__span {
  width: 1px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile1x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet1x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-screen1x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-screen1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-screen2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-screen2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 136%;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: var(--main-color);
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 10px 10px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95%;
    max-width: 450px;
  }
}

.modal__closing-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
}

.modal__closing-icon {
  fill: black;
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closing-button:hover .modal__closing-icon,
.modal__closing-button:focus .modal__closing-icon {
  fill: var(--accent-color);
}

.modal__form h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 28px;
}

.form-field__input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field__label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  font-size: 12px;
  line-height: 114%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .form-field__label,
.form-field:focus-within .form-field__label {
  color: var(--accent-color);
}

.form-svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.form-field:hover .form-svg,
.form-field:focus-within .form-svg {
  fill: var(--accent-color);
}

.textarea {
  margin-bottom: 20px;
}

.form-field__textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.form-field__textarea:placeholder-shown {
  font-weight: 400;
  font-size: 14px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 116%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.form-field__checkbox a {
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}

@media screen and (max-width: 479px) {
  .form-field__checkbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-field__icon {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
}

input[type="checkbox"]:checked + .form-field__icon {
  background-image: url(../../../images/checkbox.svg);
  border: none;
  background-origin: border-box;
  background-size: contain;
}

.modal__button {
  padding: 10px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .modal__button {
    max-width: 200px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 480px) {
  .advantages__item {
    width: 100%;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 15px;
    width: 354px;
  }
  .advantages__item:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__group {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.advanteges__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .advanteges__title {
    text-align: start;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.ourwork {
  display: none;
}

@media screen and (min-width: 1200px) {
  .ourwork {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
}

.ourwork h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.ourwork__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourwork__item {
  position: relative;
}

.ourwork__item:not(:last-child) {
  margin-right: 30px;
}

.ourwork__group img {
  display: block;
}

.ourwork__text {
  position: absolute;
  display: block;
  padding: 27px 82px;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.team {
  background-color: var(--team-color);
}

.team h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .team h2 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .team h2 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-bottom: 30px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__group h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team__group p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__svg {
  fill: var(--link-color);
}

.socials__link:hover .socials__svg {
  fill: var(--main-color);
}

.partners__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 480px) {
  .partners-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partners__item {
  margin: 15px;
}

@media screen and (max-width: 480px) {
  .partners__item {
    width: 50%;
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid var(--link-color);
  border-radius: 4px;
  color: var(--link-color);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .partners__link {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .partners__link {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .partners__link {
    padding: 16px 52px;
  }
}

@media screen and (max-width: 479px) {
  .partners__link {
    padding: 5% 7%;
    width: 100%;
  }
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.page-footer {
  background-color: var(--background);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address__list {
  text-align: center;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address__list {
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__item + .address__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.google-address {
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-contacts {
  text-decoration: none;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  margin-bottom: 60px;
}

.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .footer-socials__title {
    text-align: start;
  }
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: start;
  }
}

@media screen and (max-width: 479px) {
  .footer-form {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 15px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .footer-form__input {
    display: block;
    max-width: 450px;
    width: 100%;
  }
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin: 0;
  }
}

@media screen and (max-width: 479px) {
  .footer-form__button {
    width: 100%;
    max-width: 201px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
  margin-left: 10px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7px -4px;
}

@media screen and (max-width: 767px) {
  .categories {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .categories {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .categories {
    margin-bottom: 50px;
  }
}

.categories__item {
  margin: 7px 4px;
}

.categories__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--team-color);
  cursor: pointer;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.categories__button:hover, .categories__button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .portfolio__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio__item {
  margin: 15px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  background: var(--main-color);
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio__item {
    margin-bottom: 30px;
    width: 450px;
  }
}

@media screen and (max-width: 479px) {
  .portfolio__item {
    margin-bottom: 30px;
    max-width: 450px;
    width: 95%;
  }
}

.card__effect {
  position: relative;
  overflow: hidden;
}

.card-effect__text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--main-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 500ms -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1), 500ms -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .card-effect__text,
.portfolio__item:focus .card-effect__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__group {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav__link--current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
  }
}

.header-contacts__link {
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
}

.header-contacts__link + .header-contacts__link {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header-contacts__link + .header-contacts__link {
    margin-top: 0;
    margin-left: 30px;
  }
}

.header-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .phone {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 380px) {
  .phone {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .mail {
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.emblem {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  display: block;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .emblem {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .emblem {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .header-emblem {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-emblem {
    margin-right: 88px;
  }
}

.footer__emblem {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__emblem {
    text-align: start;
  }
}

.header-emblem__span {
  color: black;
}

.footer__emblem span {
  color: var(--main-color);
}
/*# sourceMappingURL=styles.css.map */