ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

h1, h2, h3, p {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

:root {
  --text-color: #757575;
  --main-text-color:#212121;
  --accent-color: #2196F3;
  --background: #2F303A;
  --team-color: #F5F4FA;
  --main-color: #fff;
  --link-color: #AFB1B8;
  --primari-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 80px;
  }
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.emblem {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  display: block;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .emblem {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .emblem {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .emblem {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .header-emblem {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-emblem {
    margin-right: 93px;
  }
}

.footer__emblem {
  text-align: center;
  margin-bottom: 20px;
}

.header-emblem__span {
  color: black;
}

.footer__emblem span {
  color: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  text-decoration: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: none;
}

.header-contacts {
  display: none;
}

.burger-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.hero {
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herophoto.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.backdrop {
  position: absolute;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__group {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.advanteges__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantages__text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.ourwork {
  display: none;
}

.team {
  background-color: var(--team-color);
}

.team h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team__item {
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__group h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team__group p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials__link:hover {
  background-color: var(--accent-color);
}

.socials__svg {
  fill: var(--link-color);
}

.socials__link:hover .socials__svg {
  fill: var(--main-color);
}

.partners__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.partners__item {
  margin: 15px;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 52px;
  outline: 1px solid var(--link-color);
  border-radius: 4px;
  color: var(--link-color);
}

.partners__link:hover {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.page-footer {
  background-color: var(--background);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__list {
  text-align: center;
  font-style: normal;
  margin-bottom: 60px;
}

.address__item + .address__item {
  margin-top: 8px;
}

.google-address {
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-contacts {
  text-decoration: none;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  margin-bottom: 60px;
}

.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-socials__link:hover {
  color: var(--accent-color);
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 15px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
  margin-left: 10px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7px -4px;
  margin-bottom: 40px;
}

.categories__item {
  margin: 7px 4px;
}

.categories__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--team-color);
  cursor: pointer;
}

.categories__button:hover, .categories__button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.portfolio__item {
  width: 100%;
  background: var(--main-color);
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=styles.css.map */