.page-footer {
    background-color: var(--background);

}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address__list {
    text-align: center;
    font-style: normal;  
    margin-bottom: 60px; 
}
.address__item {
    & + & {
        margin-top: 8px;
    }
}
.google-address {
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.footer-contacts {
    text-decoration: none;
    margin-bottom: 60px;

    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}