.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    border-bottom: 1px solid #ECECEC;
    z-index: 100;

    @media screen and (min-width:768px) {
        height: 80px;
    }
}
.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    @media screen and (max-width:767px) {
        display: block;
        width: 100%;
    }
    @media screen and (min-width:768px){
        display: flex;
    }
}
.header-contacts {
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
    }
}
.burger-menu {
    display: block;
    margin-left: auto;
    border: none;
    background-color: #fff;
    z-index: 101;
    @media screen and (min-width:768px) {
        display: none;
    }
    &.is-open {
        position: absolute;
        top: 10px;
        right: 15px;
    }
    & .burger-close {
        opacity: 0;
    }
    &.is-open .burger-open {
        opacity: 0;
    }
    &.is-open .burger-close {
        opacity: 1;
    }

}

.menu-container {
    @media screen and (max-width:767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 48px 40px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }
    @media screen and (min-width:768px) {

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
}
.menu-container.is-open {
        opacity: 1;
        visibility: inherit;
        pointer-events: all;

        & body {
            overflow: hidden;
        }
    }
.burger-icon {
    
    width: 40px;
    height: 40px;
    fill: var(--main-text-color);
    
    .burger-menu:hover & ,
    .burger-menu:focus & {
        fill: var(--accent-color);
    }
}

.header-socials{
    @media screen and (max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-right: 20px;
    }
}
.header-socials__link {
    margin: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (max-width:460px) {
        font-size: 14px;
    }
    @media screen and (max-width:420px) {
        font-size: 14px;
    }
    @media screen and (max-width:380px) {
        font-size: 12px;
    }
}
.header-socials__span {
    width: 1px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}