.backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 40px;
    background-color: var(--main-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
    }
}
.modal__closing-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
}
.modal__closing-icon {
    fill: black;
    .modal__closing-button:hover &,
    .modal__closing-button:focus & 
    {
        fill: var(--accent-color);
    }
}
.modal__form {
    & h2 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    margin-bottom: 28px;
}
.form-field__input {
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-field__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);

    font-size: 12px;
    line-height: 114%;
    letter-spacing: 0.01em;
    color: var(--text-color);

    .form-field:hover &,
    .form-field:focus-within & {
        color: var(--accent-color);
    }
}
.form-svg {
    position: absolute;
    top: 14px;
    left: 14px;
    .form-field:hover &,
    .form-field:focus-within & {
        fill: var(--accent-color);
    }
}
.textarea {
    margin-bottom: 20px;
}
.form-field__textarea {
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
}
.form-field__textarea:placeholder-shown {
    font-weight: 400;
    font-size: 14px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form-field__checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 116%;
    letter-spacing: 0.03em;
    color: var(--text-color);
    & a {
        margin-left: 5px;
        color: var(--accent-color);
        text-decoration: underline;
    }
}
input[type="checkbox"] {
    appearance: none;
}
.form-field__icon {
    display: block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 4px;

    input[type="checkbox"]:checked + & {
        background-image: url(../../../images/checkbox.svg);
        border: none;
        background-origin: border-box;
        background-size: contain;
    }
}
.modal__button {
    padding: 10px 55px;
    display: block;
    margin: 0 auto;

    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 188%;

    letter-spacing: 0.06em;

    color: var(--main-color);
    cursor: pointer;
}