
.portfolio__item {

    width: 100%;
    background: var(--main-color);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.portfolio__list li {
    margin-bottom: 30px;
}