.categories {
    
    display: flex;
    flex-wrap: wrap;
    margin: -7px -4px;

    @media screen and (max-width:767px) {
        margin-bottom: 40px;
    }
    @media screen  and (min-width:768px) and (max-width:1199px){
        justify-content: center;
        margin-bottom: 30px;
    }
    
    @media screen  and (min-width:1200px) {
        margin-bottom: 50px;
    }
}
.categories__item {
    margin: 7px 4px;
}
.categories__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    border: none;
    border-radius: 4px;
    background-color: var(--team-color);
    cursor: pointer;

    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover, &:focus {
        color: var(--main-color);
        background-color: var(--accent-color);
    }
}