.portfolio__list {
    margin: -15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
   
}
.portfolio__item {
    margin: 15px;
    width: 450px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    background: var(--main-color);
    &:hover, &:focus {
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

}
.card__effect {
    position: relative;
    overflow: hidden;
}
.card-effect__text {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 77px 24px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--main-color);

    transform: translateY(100%);
    transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1);

    .portfolio__item:hover &, 
    .portfolio__item:focus &{
        transform: translateY(0);
    }
}
.portfolio__group {
    padding: 20px 24px;
}
.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--main-text-color)
}
.portfolio__text {
font-size: 16px;
line-height: 188%;
letter-spacing: 0.03em;

color: var(--text-color)
}