.emblem {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;

    color: var(--accent-color);
}
.header-emblem__span{
    color: black;
}
.footer__emblem span{
    color: var(--main-color);
}