.socials {
    display: flex;
    justify-content: center;
    
}
.socials__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}
.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover {
        background-color: var(--accent-color);
    }
}
.socials__svg {
    fill: var(--link-color);
    .socials__link:hover & {
        fill: var(--main-color);
    }
}
