.advantages__list {
    display: flex;
    list-style: none;
}
.advantages__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}
.advanteges__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantages__group {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.advantages__text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.advantages__icon {
    height: 70px;
    width: 70px;
}



