.footer-form__title {
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.footer-form__form {
    display: flex;
    align-items: center;
}
.footer-form__input {
    padding: 15px;
    margin-right: 12px;

    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background);

    &:placeholder-shown {

        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.footer-form__button {
    display: flex;
    align-items: center;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    color: var(--main-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;

    cursor: pointer;
}
.footer-form__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}