.hero {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herophoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 692px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.hero__button {
    display: flex;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    align-items: center;
}
