.ourwork {
    padding-top: 0;

    & h2{
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.ourwork__list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.ourwork__item img {
    display: block;
}
.ourwork__item:not(:last-child) {
    margin-right: 30px;
}
.ourwork__group {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 25%;
        bottom: 0;
        background-color:rgba(47, 48, 58, 0.8);;
    }

}
.ourwork__text{
    position: absolute;
    display: block;
    left: 82px;
    bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}